<!-- <app-loader *ngIf="spinnerLoading"></app-loader> -->
<div class="container">
    <sky-breadcrumb [breadcrumbItems]="breadcrumbItems"></sky-breadcrumb>
    <!-- <app-alerts [alertData]="alertData" [alertType]="alertType" *ngIf="alertTrigger"></app-alerts> -->
    <h2 class="text-center mb-4 mt-4">Add user</h2>
    <div class="row mb-3">
        <div class="col-lg-12 back-to">
            <span class="mohawak-icon angle-left-icon back-i"></span>Back To Your
            Home
        </div>
    </div>

    <div class="row mb-4">
        <form [formGroup]="addUserForm" >
            <div class="_card-container">
                <div class="row mb-4 brd">
                    <div class="head-sec">Create user</div>
                    <div class="col-md-4 mb-3">
                      <h4>Name*</h4>
                      <input type="text" formControlName="name" placeholder="Type Here" class="form-control" />
                      <div *ngIf="addUserForm.controls['name'].touched && addUserForm.controls['name'].invalid"
                        class="form-text text-danger">
                        <div *ngIf="addUserForm.controls['name'].errors?.['required']">
                            Name Type  is
                          required.</div>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <h4>Mobile*</h4>
                        <input type="number" [maxlength]="10" formControlName="mobile" placeholder="Type Here" class="form-control" />
                        <div *ngIf="addUserForm.controls['mobile'].touched && addUserForm.controls['mobile'].invalid"
                          class="form-text text-danger">
                          <div *ngIf="addUserForm.controls['mobile'].errors?.['required']">
                              Mobile Type  is
                            required.</div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <h4>Email*</h4>
                        <input type="text" formControlName="email" placeholder="Type Here" class="form-control" />
                        <div *ngIf="addUserForm.controls['email'].touched && addUserForm.controls['email'].invalid"
                          class="form-text text-danger">
                          <div *ngIf="addUserForm.controls['email'].errors?.['required']">
                            Email Type  is
                            required.</div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <h4>User type*</h4>
                        <ng-select placeholder="#Allow" formControlName="usertype" >
                            <ng-option *ngFor="let item of userType" [value]="item?.id" >{{
                              item?.name
                            }}</ng-option>
                          </ng-select>
                          <div *ngIf="addUserForm.controls['usertype'].touched && addUserForm.controls['usertype'].invalid"
                          class="form-text text-danger">
                          <div *ngIf="addUserForm.controls['usertype'].errors?.['required']">
                            User Type
                            required.</div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <h4>Bulk Sms*</h4>
                        <ng-select placeholder="#Allow" formControlName="bulk" >
                            <ng-option *ngFor="let item of bulk" [value]="item?.id" >{{
                              item?.title
                            }}</ng-option>
                          </ng-select>
                          <div *ngIf="addUserForm.controls['bulk'].touched && addUserForm.controls['bulk'].invalid"
                          class="form-text text-danger">
                          <div *ngIf="addUserForm.controls['bulk'].errors?.['required']">
                              Allow Bulk sms is
                            required.</div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <h4>Password*</h4>
                        <input type="text" formControlName="password" placeholder="Type Here" class="form-control" />
                        <div *ngIf="addUserForm.controls['password'].touched && addUserForm.controls['password'].invalid"
                          class="form-text text-danger">
                          <div *ngIf="addUserForm.controls['password'].errors?.['required']">
                              Password is
                            required.</div>
                        </div>
                      </div>
                  </div>
                <div class="row align-center">
                    <div class="col-md-3 btn-grid">
                        <button class="btn btn-outline-secondary">
                            Cancel
                        </button>
                    </div>
                    <div class="col-md-3  btn-grid">
                        <button    (click)="submit(addUserForm.value)" class="btn btn-primary" type="submit" [disabled]="!addUserForm.valid">
                            ADD user 
                        </button>
                    </div>
                </div>
                <div class="mt-4 mb-4">
                    <ngx-table [configuration]="configuration" [data]="userlist" [columns]="columns">
                      <!-- [summaryTemplate]="summaryTemplateRef" -->
                      <ng-template let-row let-index="index">
                        <td>
                          <a>{{ row?.username }}</a>
                        </td>
                        <td>
                          {{ row?.mobile }}
                        </td>
                        <td>
                          {{ row?.email }}
                        </td>
                        <td>
                            {{ row?.user_type.name }}
                          </td>
                          <td>
                            {{ row?.notification }}
                          </td>
                        <td>
                      Remove
                          <!-- {{ row?.expirationTime | date : "MM/dd/yyyy" }} -->
                        </td>
                       
                      </ng-template>
                    </ngx-table>
                   
                  </div>
            </div>
        </form>

    </div>
    
</div>