

<div class="modal-header text-center">
  <h4 class="modal-title f-w w-100"> {{ buttonName }}</h4>
</div>
<div class="modal-body p-20">
  <div class="_card white-bg">
    <div class="row">
      <div class="col-md-12 mb-3">
       
        <div class="row mb-4">
          <form [formGroup]="addRoleForm">
            <div class="">
              <div class="row mb-4 brd">
                <div class="col-md-12 mb-3">
                  <h4>Role Name*</h4>
                  <input type="text" formControlName="roleName" placeholder="Type Here" class="form-control" />
                  <div
                    *ngIf="
                      addRoleForm.controls['roleName'].touched &&
                      addRoleForm.controls['roleName'].invalid
                    "
                    class="form-text text-danger"
                  >
                    <div *ngIf="addRoleForm.controls['roleName'].errors?.['required']">
                      Role Name is required.
                    </div>
                  </div>
                </div>

              </div>

              <div class="footer">
                <div>
                  <button class="btn btn-outline-secondary" type="button" (click)="cancel()">
                    Cancel
                  </button>
                </div>
                <div>
                  <button
                    (click)="submit(addRoleForm.value)"
                    class="btn btn-primary"
                    type="submit"
                    [disabled]="!addRoleForm.valid"
                  >
                    {{ buttonName }}
                  </button>
                </div>
            </div>
      
         
            </div>
          </form>
          
        </div>
      
      </div>
      
    </div>
  
  
  </div>
  
</div>
